.container {
  background-color: indigo;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 2px;
}

.item {
  color: white;
  font-size: 25px;
  background-color: orangered;
}
